<!DOCTYPE html>
<html>
	<head>
		<title>Tennis Australia</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- External CSS File -->
		<link rel="stylesheet" type="text/css" href="../Styles/Main.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	
	<body>	
		<header id="headerContainer">
			<div id="topnavContainer">
				<div id="topnavlinksContainer">
					<div id="topnavGroup">
						<div class="topnavLinksHome lightBg">
							<a href="#" target="_blank" />TENNIS.COM.AU</a>
						</div>
						<div class="topnavLinks topnavImage" id="topnav1">
							<a href="#" target="_blank" /></a>
						</div>
						<div class="topnavLinks topnavImage" id="topnav2">
							<a href="#" target="_blank" /></a>
						</div>
						<div class="topnavLinks topnavImage" id="topnav3">
							<a href="#" target="_blank" /></a>
						</div>
						<div class="topnavLinks topnavImage" id="topnav4">
							<a href="#" target="_blank" /></a>
						</div>
						<div class="topnavLinks topnavImage" id="topnav5">
							<a href="#" target="_blank" /></a>
							<div class="moredropdowncontent">
								<a href="#">More 1</a>
								<a href="#">More 2</a>
								<a href="#">More 3</a>
							</div>
						</div>
					</div>
				</div>
				
				<div id="profileinfoHolder" class="lightBg">
					<div id="profilePic">
						<span id="notificationsIcon">2</span>
					</div>
					<div id="profileName">
						<a href="#" alt="" id="userName"/>JOHN SMITH  <span id="arrowContainer">&gt;</span></a> 
					</div>
					
				</div>
			</div>
			<div id="clubdetailsContainer">
				<div id="tennisLogo">
				</div>
				<div id="clubNameContainer">
					<div id="clubLogo">
						
					</div>
					<div id="clubName">
						<span>Fitzroy tennis Club</span>
					</div>
				</div>
				<div id="helpContainer">
					<div id="helpButton">
						<a href="#" class="helpText"><span class="helpIcon">?</span>Help</a>
					</div>
				</div>
			</div>
		</header>
		
		<section id="homeContainer">
			<div id="bodyouterContainer">
				<div id="sideNavContainer">
					<div class="sidenavGroup">
						<div class="sideNavButton">
							<div id="myclubNavIcon" class="sideNavIcon">
								<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									 width="16.597px" height="20.582px" viewBox="0 0 16.597 20.582" enable-background="new 0 0 16.597 20.582" xml:space="preserve">
								<text transform="matrix(0.9931 0 0 1 -1.746567e-004 18.4574)" fill="#FFFFFF" font-family="'FontAwesome'" font-size="18"></text>
								</svg>

							</div>
							<div id="myclubNavButton" class="sideNavText">My Club
							</div>
							<span class=""></span>
						</div>					
						<div class="sideNavButton">
							<div id="membersNavIcon" class="sideNavIcon">
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 width="19.151px" height="20.582px" viewBox="0 0 19.151 20.582" enable-background="new 0 0 19.151 20.582" xml:space="preserve">
							<g opacity="0.5">
								<text transform="matrix(0.9931 0 0 1 -1.748393e-004 18.0193)" fill="#FFFFFF" font-family="'FontAwesome'" font-size="18"></text>
							</g>
							</svg>
							</div>
							<div id="membersNavButton" class="sideNavText">Members
							</div>
							<span class=""></span>
						</div>
						<div class="sideNavButton">
							<div id="membershipsNavIcon" class="sideNavIcon">
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 width="17.875px" height="20.582px" viewBox="0 0 17.875 20.582" enable-background="new 0 0 17.875 20.582" xml:space="preserve">
							<g opacity="0.5">
								<text transform="matrix(0.9931 0 0 1 3.037340e-005 18.0192)" fill="#FFFFFF" font-family="'FontAwesome'" font-size="18"></text>
							</g>
							</svg>

							</div>
							<div id="membershipsNavButton" class="sideNavText">Memberships
							</div>
							<span class=""></span>
						</div>
						<div class="sideNavButton">
							<div id="communicationNavIcon" class="sideNavIcon">
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 width="17.875px" height="20.582px" viewBox="0 0 17.875 20.582" enable-background="new 0 0 17.875 20.582" xml:space="preserve">
							<g opacity="0.5">
								<text transform="matrix(0.9931 0 0 1 3.037340e-005 18.0192)" fill="#FFFFFF" font-family="'FontAwesome'" font-size="18"></text>
							</g>
							</svg>
							</div>
							<div id="communicationNavButton" class="sideNavText">Communication
							</div>
							<span class=""></span>
						</div>
						<div class="sideNavButton">
							<div id="reportingNavIcon" class="sideNavIcon">
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 width="20.426px" height="20.582px" viewBox="0 0 20.426 20.582" enable-background="new 0 0 20.426 20.582" xml:space="preserve">
							<g opacity="0.5">
								<text transform="matrix(0.9931 0 0 1 0.0614 18.2691)" fill="#FFFFFF" font-family="'FontAwesome'" font-size="18"></text>
							</g>
							</svg>

							</div>
							<div id="reportingNavButton" class="sideNavText">Reporting
							</div>
							<span class=""></span>
						</div>
						<div class="sideNavButton activeMenu">
							<div id="affiliationNavIcon" class="sideNavIcon">
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 width="15.321px" height="20.582px" viewBox="0 0 15.321 20.582" enable-background="new 0 0 15.321 20.582" xml:space="preserve">
							<g opacity="0.5">
								<text transform="matrix(0.9931 0 0 1 1.831439e-004 17.7691)" fill="#FFFFFF" font-family="'FontAwesome'" font-size="18"></text>
							</g>
							</svg>

							</div>
							<div id="affiliationNavButton" class="sideNavText ">Affliliation
							</div>
							<span class="activeTriangle"></span>
						</div>
						<div class="settingsButton">
							<div class="sideNavButton1">
								<div id="settingsNavIcon" class="sideNavIcon">
								<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
										 width="15.321px" height="20.582px" viewBox="0 0 15.321 20.582" enable-background="new 0 0 15.321 20.582" xml:space="preserve">
									<g opacity="0.5">
										<text transform="matrix(0.9931 0 0 1 -2.384056e-004 18.0179)" fill="#FFFFFF" font-family="'FontAwesome'" font-size="18"></text>
									</g>
									</svg>
								</div>
								<div id="settingsNavButton" class="sideNavText ">Settings
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="affliateContainer">
					<div id="affliatebg">
						<div id="affiliateContent">
							<p>Affliliate to Tennis Victoria</p>
							<div id="progressbarContainer">
								<div id="progressBar">
									<ul class="progressBarStage">
										<li class="complete firstStage"></li>
										<li class="complete"></li>
										<li class="current">Confirm<br>Facilities</li>
										<li class="incomplete"></li>
										<li class="incomplete lastStage"></li>
									</ul>
								</div>
							</div>
							
							<div id="facilitiesButtonsContainer">
								<div id="facilitiesButtons">
									<div id="disconnectfacilityButtonn">
									Disconnect Facility
									</div>
									<div id="newfacilityButton">
										<div id="plusSymbol">
										+
										</div>
										<div id="newfacilityButtonText">
										New Facility
										</div>
									</div>
								</div>
								</div>
							<div id="facilitiesContainer">
								<div id="facilitydetailsContainer">
									<div id="facilitytitleContainer">
										<p>facility details (1 of 2 facilities)</p>
									</div>
									<div id="facilitynametypeContainer1">
										<div id="facilitynametypeContainer">
											<div id="facilitynameContainer">
												<div id="facilityName">
													<div class="facilitylabel">
														NAME:
													</div>
													<div class="facilityinput">
														<input type="text" class="customInput" value="Fitzroy TC"/>
													</div>
												</div>
											</div>
											<div id="facilitytypeContainer">
												<div id="facilityType"> 
													<div class="facilitylabel">
														TYPE:
													</div>
													<div class="facilityinput">
														<select class="customSelect  selectIcon"> 
															<option value="Club">Club</option>
														</select>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div id="facilityaddresscontainer">
										<p>facility address</p>
										<div id="facilityaddressouterDiv">
											<div id="facilityaddress1">
												<div id="facilityaddress1label">
													<div class="facilitylabel">
														ADDRESS 1:
													</div>
													<div class="facilityinput1">
														<input type="text" class="customInput" value="Brunswick Street"/>
													</div>
												</div>
												<div id="facilityaddress2label">
													<div class="facilitylabel">
														ADDRESS 2:
													</div>
													<div class="facilityinput1">
														<input type="text" class="customInput" value="Edinburgh Gardens"/>
													</div>
												</div>
												<div id="facilityaddress3label">
													<div class="facilitylabel">
														SUBURB:
													</div>
													<div class="facilityinput1">
														<input type="text" class="customInput" value="Fitzroy North"/>
													</div>
												</div>
											</div>
											
											<div id="facilityaddress2">
												<div id="facilityaddress1">
													<div id="facilitycountrylabel">
														<div class="facilitylabel">
															COUNTRY:
														</div>
														<div class="facilityinput1">
															<select class="customSelect  selectIcon"> 
																<option value="australia">Australia</option>
															</select>
														</div>
													</div>
													<div id="facilitystatelabel">
														<div class="facilitylabel">
															STATE:
														</div>
														<div class="facilityinput1">
															<select class="customSelect  selectIcon"> 
																<option value="victoria">Victoria</option>
															</select>
														</div>
													</div>
													<div id="facilitypostcodelabel">
														<div class="facilitylabel">
															POST CODE:
														</div>
														<div class="facilityinput1">
															<input type="text" class="customInput" value="3068"/>
														</div>
													</div>
												</div>
											
											</div>
										</div>
									</div>
									<div id="courtdetailscontainer">
										<div id="courtdetailsouter">
											<div id="courtdetailsheader">
												<p>court information</p>
											</div>
											<div id="newcourtButtonContainer">
												<div id="newcourtButton">
													<div id="plusSymbol">
														+
													</div>
													<div id="newcourtButtonText">
														New Court
													</div>
												</div>
												
											</div>
										</div>
										<div id="courttablecontainer">
											<div id="courttableheader">
												<div class="snoColumnHeader">#
												</div>
												<div class="courttabledataColumn">name
												</div>
												<div class="courttabledataColumn">court size
												</div>
												<div class="courttabledataColumn">surface
												</div>
												<div class="courttabledataColumn">location
												</div>
												<div class="courttabledataColumn">Lighted
												</div>
												<div class="deleteColumn">&nbsp;
												</div>
											</div>
											<div class="courttablerow">
													<div class="snoColumn">1
													</div>

													<div class="courttabledataColumn"><input type="text" class="customInputCourt" value="Court 1"/>
													</div>
													<div class="courttabledataColumn checkboxPosition">
														<select class="customSelect selectIcon"> 
															<option value="fullsize">Fullsize</option>
														</select>
														<div class="checkbox1Position">
														<label class="checkbox1">HOT SHOTS RED
															<input type="checkbox" checked="checked">
														    <span class="checkmark1"></span>
														</label>
														</div>

													</div>
													<div class="courttabledataColumn checkboxPosition">
														<select class="customSelect selectIcon"> 
															<option value="clay">Clay</option>
														</select>
														<div class="checkbox2Position">
														<label class="checkbox2">HOT SHOTS ORANGE
															<input type="checkbox" checked="checked">
														    <span class="checkmark2"></span>
														</label>
														</div>
													</div>
													<div class="courttabledataColumn">
														<select class="customSelect selectIcon"> 
															<option value="outdoor">Outdoor</option>
														</select>
													</div>
													<div class="courttabledataColumn">
														<select class="customSelect selectIcon"> 
															<option value="lighted">Lighted</option>
														</select>
													</div>
													
													<div class="deleteColumn"><i class="fa fa-times removeCourt" aria-hidden="true"></i>
													</div>
												</div>
												<div class="courttablerow">
													<div class="snoColumn">2
													</div>

													<div class="courttabledataColumn"><input type="text" class="customInputCourt" value="Court 2"/>
													</div>
													<div class="courttabledataColumn checkboxPosition">
														<select class="customSelect selectIcon"> 
															<option value="fullsize">Fullsize</option>
														</select>
														<div class="checkbox1Position">
														<label class="checkbox1">HOT SHOTS RED
															<input type="checkbox" checked="checked">
														    <span class="checkmark1"></span>
														</label>
														</div>

													</div>
													<div class="courttabledataColumn checkboxPosition">
														<select class="customSelect selectIcon"> 
															<option value="clay">Clay</option>
														</select>
														<div class="checkbox2Position">
														<label class="checkbox2">HOT SHOTS ORANGE
															<input type="checkbox" checked="checked">
														    <span class="checkmark2"></span>
														</label>
														</div>
													</div>
													<div class="courttabledataColumn">
														<select class="customSelect selectIcon"> 
															<option value="outdoor">Outdoor</option>
														</select>
													</div>
													<div class="courttabledataColumn">
														<select class="customSelect selectIcon"> 
															<option value="lighted">Lighted</option>
														</select>
													</div>
													
													<div class="deleteColumn"><i class="fa fa-times removeCourt" aria-hidden="true"></i>
													</div>
												</div>
												<div class="courttablerow">
													<div class="snoColumn">3
													</div>

													<div class="courttabledataColumn"><input type="text" class="customInputCourt" value="Court 3"/>
													</div>
													<div class="courttabledataColumn checkboxPosition">
														<select class="customSelect selectIcon"> 
															<option value="fullsize">Fullsize</option>
														</select>
														<div class="checkbox1Position">
														<label class="checkbox1">HOT SHOTS RED
															<input type="checkbox" checked="checked">
														    <span class="checkmark1"></span>
														</label>
														</div>

													</div>
													<div class="courttabledataColumn checkboxPosition">
														<select class="customSelect selectIcon"> 
															<option value="clay">Clay</option>
														</select>
														<div class="checkbox2Position">
														<label class="checkbox2">HOT SHOTS ORANGE
															<input type="checkbox" checked="checked">
														    <span class="checkmark2"></span>
														</label>
														</div>
													</div>
													<div class="courttabledataColumn">
														<select class="customSelect selectIcon"> 
															<option value="outdoor">Outdoor</option>
														</select>
													</div>
													<div class="courttabledataColumn">
														<select class="customSelect selectIcon"> 
															<option value="lighted">Lighted</option>
														</select>
													</div>
													
													<div class="deleteColumn"><i class="fa fa-times removeCourt" aria-hidden="true"></i>
													</div>
												</div>
												<div class="courttablerow">
													<div class="snoColumn">4
													</div>

													<div class="courttabledataColumn"><input type="text" class="customInputCourt" value="Court 4"/>
													</div>
													<div class="courttabledataColumn checkboxPosition">
														<select class="customSelect selectIcon"> 
															<option value="fullsize">Fullsize</option>
														</select>
														<div class="checkbox1Position">
														<label class="checkbox1">HOT SHOTS RED
															<input type="checkbox" checked="checked">
														    <span class="checkmark1"></span>
														</label>
														</div>

													</div>
													<div class="courttabledataColumn checkboxPosition">
														<select class="customSelect selectIcon"> 
															<option value="clay">Clay</option>
														</select>
														<div class="checkbox2Position">
														<label class="checkbox2">HOT SHOTS ORANGE
															<input type="checkbox" checked="checked">
														    <span class="checkmark2"></span>
														</label>
														</div>
													</div>
													<div class="courttabledataColumn">
														<select class="customSelect selectIcon"> 
															<option value="outdoor">Outdoor</option>
														</select>
													</div>
													<div class="courttabledataColumn">
														<select class="customSelect selectIcon"> 
															<option value="lighted">Lighted</option>
														</select>
													</div>
													
													<div class="deleteColumn"><i class="fa fa-times removeCourt" aria-hidden="true"></i>
													</div>
												</div>
												<div class="courttablerow">
													<div class="snoColumn">5
													</div>

													<div class="courttabledataColumn"><input type="text" class="customInputCourt" value="Court 5"/>
													</div>
													<div class="courttabledataColumn checkboxPosition">
														<select class="customSelect selectIcon"> 
															<option value="fullsize">Fullsize</option>
														</select>
														<div class="checkbox1Position">
														<label class="checkbox1">HOT SHOTS RED
															<input type="checkbox" checked="checked">
														    <span class="checkmark1"></span>
														</label>
														</div>

													</div>
													<div class="courttabledataColumn checkboxPosition">
														<select class="customSelect selectIcon"> 
															<option value="clay">Clay</option>
														</select>
														<div class="checkbox2Position">
														<label class="checkbox2">HOT SHOTS ORANGE
															<input type="checkbox" checked="checked">
														    <span class="checkmark2"></span>
														</label>
														</div>
													</div>
													<div class="courttabledataColumn">
														<select class="customSelect selectIcon"> 
															<option value="outdoor">Outdoor</option>
														</select>
													</div>
													<div class="courttabledataColumn">
														<select class="customSelect selectIcon"> 
															<option value="lighted">Lighted</option>
														</select>
													</div>
													
													<div class="deleteColumn"><i class="fa fa-times removeCourt" aria-hidden="true"></i>
													</div>
												</div>
												<div class="courttablerow">
													<div class="snoColumn">6
													</div>

													<div class="courttabledataColumn"><input type="text" class="customInputCourt" value="Court 6"/>
													</div>
													<div class="courttabledataColumn checkboxPosition">
														<select class="customSelect selectIcon"> 
															<option value="fullsize">Fullsize</option>
														</select>
														<div class="checkbox1Position">
														<label class="checkbox1">HOT SHOTS RED
															<input type="checkbox" checked="checked">
														    <span class="checkmark1"></span>
														</label>
														</div>

													</div>
													<div class="courttabledataColumn checkboxPosition">
														<select class="customSelect selectIcon"> 
															<option value="clay">Clay</option>
														</select>
														<div class="checkbox2Position">
														<label class="checkbox2">HOT SHOTS ORANGE
															<input type="checkbox" checked="checked">
														    <span class="checkmark2"></span>
														</label>
														</div>
													</div>
													<div class="courttabledataColumn">
														<select class="customSelect selectIcon"> 
															<option value="outdoor">Outdoor</option>
														</select>
													</div>
													<div class="courttabledataColumn">
														<select class="customSelect selectIcon"> 
															<option value="lighted">Lighted</option>
														</select>
													</div>
													
													<div class="deleteColumn"><i class="fa fa-times removeCourt" aria-hidden="true"></i>
													</div>
												</div>
												
												
											<div id="courttableContents">
												<div class="courttablerow">
													<div class="snoColumn">7
													</div>

													<div class="courttabledataColumn"><input type="text" class="customInputCourt" value="Court 7"/>
													</div>
													<div class="courttabledataColumn checkboxPosition">
														<select class="customSelect selectIcon"> 
															<option value="fullsize">Fullsize</option>
														</select>
														<div class="checkbox1Position">
														<label class="checkbox1">HOT SHOTS RED
															<input type="checkbox" checked="checked">
														    <span class="checkmark1"></span>
														</label>
														</div>

													</div>
													<div class="courttabledataColumn checkboxPosition">
														<select class="customSelect selectIcon"> 
															<option value="clay">Clay</option>
														</select>
														<div class="checkbox2Position">
														<label class="checkbox2">HOT SHOTS ORANGE
															<input type="checkbox" checked="checked">
														    <span class="checkmark2"></span>
														</label>
														</div>
													</div>
													<div class="courttabledataColumn">
														<select class="customSelect selectIcon"> 
															<option value="outdoor">Outdoor</option>
														</select>
													</div>
													<div class="courttabledataColumn">
														<select class="customSelect selectIcon"> 
															<option value="lighted">Lighted</option>
														</select>
													</div>
													
													<div class="deleteColumn"><i class="fa fa-times removeCourt" aria-hidden="true"></i>
													</div>
												</div>
												
											</div>
										</div>
										
									</div>
									<div id="additionalinformationcontainer">
										<div id="additionalinformationtitleContainer">
											<p>Additional information</p>
										</div>
										<div id="additionalinformationContents">
											<div class="adtextOuter">
												<div class="additionaltextlabel">
													This facility is:
												</div>
												<div class="additionalinfomationresponseButton">
													<div class="airesbuttonGroup">
														<div class="radiobutton">
															<input type="radio" id="radioinput1-1" name="radioinput1" checked><label class="buttonLabel" for="radioinput1-1">Leased</label>
														</div>
														<div class="radiobutton">
															<input type="radio" id="radioinput1-2" name="radioinput1"><label class="buttonLabel" for="radioinput1-2">Owned</label>
														</div>
														<div class="radiobutton">
															<input type="radio" id="radioinput1-3" name="radioinput1"><label class="buttonLabel" for="radioinput1-3">Neither</label>
														</div>
													</div>
												</div>
											</div>
											
											<div class="adtextOuter">
												<div class="additionaltextlabel">
													Do you have more than 2 years left on the lease?
												</div>
												<div class="additionalinfomationresponseButton">
													<div class="airesbuttonGroup">
														&nbsp;
													</div>
												</div>
											</div>
											
											<div class="adtextOuter">
												<div class="additionaltextlabel">
													Do you have any plans to redevelop/refurbish this facility?
												</div>
												<div class="additionalinfomationresponseButton">
													<div class="airesbuttonGroup">
														<div class="radiobutton">
															<input type="radio" id="radioinput2-1" name="radioinput2" checked><label class="buttonLabel" for="radioinput2-1">Yes</label>
														</div>
														<div class="radiobutton">
															<input type="radio" id="radioinput2-2" name="radioinput2"><label class="buttonLabel" for="radioinput2-2">No</label>
														</div>
													</div>
												</div>
											</div>
											
											<div class="adtextOuter">
												<div class="additionaltextlabel">
													Do you offer court hire at this facility?
												</div>
												<div class="additionalinfomationresponseButton">
													<div class="airesbuttonGroup">
														<div class="radiobutton">
															<input type="radio" id="radioinput3-1" name="radioinput3" ><label class="buttonLabel" for="radioinput3-1">Yes</label>
														</div>
														<div class="radiobutton">
															<input type="radio" id="radioinput3-2" name="radioinput3" checked><label class="buttonLabel" for="radioinput3-2">No</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								<div id="amenitiesContainer">
									<div id="amentitiestitleContainer">
										<div id="amenitiesheader">
											<p>AMENITIES</p>
										</div>
										<div id="newamenitiesButtonContainer">
											<div id="newamenitiesButton">
												<div id="plusSymbol">
													+
												</div>
												<div id="newamenitiesButtonText">
													ADD AMENITY
												</div>
											</div>
										
										</div>
										
									</div>
									<div id="amenitiesList">
											<div class="amenities">
												BBQ Facilities <span class="removeAmenity"><i class="fa fa-times" aria-hidden="true"></i></span>
											</div>
											<div class="amenities">
												Change Rooms<span class="removeAmenity"><i class="fa fa-times" aria-hidden="true"></i></span>
											</div>
											<div class="amenities">
												Showers <span class="removeAmenity"><i class="fa fa-times" aria-hidden="true"></i></span>
											</div>
											<div class="amenities">
												Club House <span class="removeAmenity"><i class="fa fa-times" aria-hidden="true"></i></span>
											</div>
										</div>
								</div>	
								<div id="nextStageContainer">
									<div id="nextStageButtons">
										<div id="cancelButtonContainer">
											<div id="cancelButton">
												<div id="cancelButtonText">
													Cancel
												</div>
											</div>
										
										</div>
										<div id="draftButtonContainer">
											<div id="draftButton">
												<div id="draftButtonText">
													Save as Draft
												</div>
											</div>
										
										</div>
										<div id="continueButtonContainer">
											<div id="continueButton">
												<div id="plusSymbol">
													>
												</div>
												<div id="continueButtonText">
													Continue
												</div>
											</div>
										
										</div>
									</div>
								</div>
								
							</div>
							
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>